body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

main {
  height: 75%;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  width: 95vw;
}

#answer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#anagram {
  margin: auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.letter {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

.active {
  background-color: green;
  color: white;
}

body {
  color: red;
}
