
body {
  height: 100vh;
  width: 100vw;
  color: red;
  font-family: 'Mukta', sans-serif;
  position: absolute;
  overflow: hidden;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  border: 1px solid black;
  border-radius: 0.2rem;
  flex-direction: column;
  width: 95vw;
}

#answer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#anagram {
  margin: auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.letter {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0.25rem;
}
.letter:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.active {
  background-color: green;
  color: white;
}

#submit-div {
  position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -10%);
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;


}

.title {
  font-size: 4rem;
  text-align: center;
  font-weight: 300;
  margin-top: 1rem;
}
