.game-over {
  max-width: 600px;
  margin: 1rem auto;
  width: 87%;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--antique-white);
  box-shadow: 5px 5px var(--shadow);
  position: relative;
}

.game-over-header {
  font-family: var(--scope);
  letter-spacing: 5px;
  width: 50%;
  border-bottom: 1px solid var(--gunmetal);
}

.word {
  font-weight: 500;
  margin-top: 0.5rem;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}

.definition {
  font-family: var(--scope);
  font-size: 0.75rem;
  font-style: italic;
}

.word-list {
  margin: 0.25rem auto;
  background: white;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: -2px -2px var(--shadow);
}

.d-none {
  display: none;
}

.mark {
  color: red;
}

.statistics {
  display: flex;

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stat {
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 0.5rem
  }

  .icon {
    text-align: center;
    width: 1.5rem;
    display: inline-block;
    margin-right: 0.2rem;
  }

  #percentile {
    font-size: smaller;
    font-weight: 100;
  }
}

.disabled {
  opacity: 0.4;
}

.used {
  visibility: hidden;
}


.grading {
  font-family: var(--cursive);
  padding: 1rem;
  text-align: center;
  background-image: url(/resources/images/circle.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  min-height: 15vh;
  min-width: 15vh;
  display: flex;
  flex-direction: column;
  transform: rotate(8deg);

  #grade {
    font-size: 4rem;
    margin-top: 0.75rem;
  }

  p {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  #grade-message {
    opacity: 0.8;
  }
}


#share {
  position: relative;
  letter-spacing: 2px;
  right: 0;
  margin: 0.25rem 0rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--gunmetal);
  color: var(--antique-white);
  font-family: 'Scope One';
  font-weight: 700;

  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 1px white;
  }
}

#popup {
  position: absolute;
  width: fit-content;
  top: 25%;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 3px var(--shadow);
  border-radius: 10px;
  opacity: 1;
}


.midnight-countdown {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.2rem;
  padding-top: 1rem;
}



#time {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .digit {
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1.5rem;
    color: var(--gunmetal);
  }
}

hr {
  margin: 0.25rem 0rem;
}
