.game-over {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-over-header {
  font-family: var(--scope);
  letter-spacing: 5px;
  width: 50%;
  border-bottom: 1px solid var(--gunmetal);
}

.word {
  font-weight: 700;
  margin-top: 0.5rem;
  text-transform: capitalize;
  margin-bottom: 0.2rem;

}

.definition {
  font-family: var(--scope);
  font-size: 0.75rem;
  font-style: italic;
  text-align: justify;
  margin-left: 0.75rem;
}

.word-list {
  margin: 0.25rem auto;
  list-style-type: none;
  background: white;
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid var(--shadow);
  box-shadow: 3px 3px var(--shadow);
  position: absolute;
  top: 1rem;
  width: 85vw;
  min-width: 250px;

  ul {
    li {
      font-size: 1rem;
    }
  }
}

.d-none {
  display: none;
}

.mark {
  color: red;
}

.statistics {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stat {
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 0.5rem;
    line-height: 2.2rem;
  }

  .icon {
    text-align: center;
    width: 1.5rem;
    display: inline-block;
    margin-right: 0.2rem;
  }

  #percentile {
    font-size: small;
    font-weight: 100;
  }
}

.disabled {
  opacity: 0.4;
}

.used {
  visibility: hidden;
}


.grading {
  font-family: var(--cursive);
  padding: 1rem;
  text-align: center;
  background-image: url(/resources/images/circle.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 2.5rem;
  right: 0.25rem;
  height: 8.5rem;
  width: 8.5rem;
  display: flex;
  flex-direction: column;
  transform: rotate(8deg);

  #grade {
    font-size: 4rem;
    margin-top: 0.75rem;
  }

  p {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  #grade-message {
    opacity: 0.8;
  }
}

.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#share {
  position: relative;
  letter-spacing: 2px;
  right: 0;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  color: var(--gunmetal);
  background-color: white;
  box-shadow: 3px 3px var(--shadow);
  font-family: 'Scope One';
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

#popup {
  position: absolute;
  width: fit-content;
  max-width: max-content;
  top: 45%;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 3px var(--shadow);
  border-radius: 10px;
  opacity: 1;
}


.midnight-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-top: 1rem;
}

#time {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .digit {
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1.5rem;
    color: var(--gunmetal);
  }
}

hr {
  margin: 0.25rem 0rem;
}

#show-list {
  position: relative;
  letter-spacing: 2px;
  right: 0;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  color: var(--gunmetal);
  background-color: white;
  box-shadow: 3px 3px var(--shadow);
  font-family: 'Scope One';
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

#close-list {
  float: right;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 10px;
  color: var(--gunmetal);
  background-color: var(--antique-white);
  box-shadow: 3px 3px var(--shadow);
  font-family: 'Scope One';
  font-weight: 700;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.day-count {
  font-size: 1.5rem;
}
