
.start {
  font-size: 2rem;
  width: 60%;
  padding: 1rem 0rem 0.75rem 0rem;
  border: 1px solid black;
  font-family: var(--scope);
  border-radius: 10px;
  box-shadow: 5px 5px var(--shadow);
  background-color: var(--antique-white);
}

.start-screen {
  max-width: 600px;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--antique-white);
  box-shadow: 5px 5px var(--shadow);
}

p {
  margin: 1rem 0px;
}

h4 {
  margin: 0.25rem 0rem;
}

h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0rem;
}

.examples {
  margin: 2rem 0rem;
  min-width: 100%;
  max-width: 80%;
  margin: auto;

}

.example {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--scope);
    margin: 0.25rem 0.35rem;
    border: 1px solid var(--shadow);
    background-color: var(--antique-white);
    border-radius: 5px;
    box-shadow: 2px 3px rgba(0, 39, 43, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.75rem;
    padding: 0.25rem 0rem 0rem 0rem;
}
}

.start-button {
  text-align: center;
}
