.start-button {
  text-align: center;

  button {
    font-size: 2rem;
    width: 50%;
    padding: 1rem 0rem 0.75rem 0rem;
    border: 1px solid var(--shadow);
    font-family: var(--scope);
    border-radius: 10px;
    box-shadow: 5px 5px var(--shadow);
    background-color: white;

  }
}

.start-screen {
  max-width: 600px;
  margin: 0.5rem auto;
  width: 87%;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--antique-white);
  box-shadow: 5px 5px var(--shadow);
}

p {
  margin: 1rem 0px;
  text-align: justify;;
}

h4 {
  margin: 0.25rem 0.25rem 0.25rem 0rem;
  font-family: var(--scope);
}

h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0rem;
}

.examples {
  margin: 0.25rem auto;
  max-width: 400px;
  background: white;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: -2px -2px var(--shadow);
}

.center {
  text-align: center;
}

.example {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--scope);
    margin: 0.25rem 0rem;
    border: 1px solid var(--shadow);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(0, 39, 43, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.75rem;
    padding: 0.25rem 0rem 0rem 0rem;

    &:hover {
      transform: scale(1.02);
      cursor: default;
    }
  }

  p {
    margin: 0;
  }
}

.ready {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
