.start-button {
  text-align: center;
  position: relative;

  button {
    font-size: 2rem;
    position: relative;
    z-index: 2;
    width: 50%;
    padding: 0.75rem 0rem 0.5rem 0rem;
    border: 1px solid var(--shadow);
    font-family: var(--scope);
    border-radius: 10px;
    box-shadow: 5px 5px var(--shadow);
    background-color: white;
    color: var(--gunmetal);

    &:hover {
      cursor: pointer;
    }
  }

}

.start-screen {
  max-width: 400px;
  margin: auto;
  height: 100vh;
  padding: 1rem;
  background-color: var(--antique-white);
}

p {
  margin: 1rem 0px;
  text-align: justify;
  ;
}

h4 {
  margin: 0.25rem 0.25rem 0.25rem 0rem;
  font-family: var(--scope);
  text-align: justify;
}

h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0rem;
}

.examples {
  margin: 0.75rem auto;
  max-width: 400px;
  background: white;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: 3px 3px var(--shadow);
  border: 1px solid var(--shadow)
}

.center {
  text-align: center;
}

.example {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--scope);
    margin: 0.25rem 0rem;
    border: 1px solid var(--shadow);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(0, 39, 43, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.75rem;
    padding: 0.25rem 0rem 0rem 0rem;

    &:hover {
      transform: scale(1.02);
      cursor: default;
    }
  }

  p {
    margin: 0;
  }
}

.ready {
  opacity: 0;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0rem 0.25rem 0rem;
  font-style: italic;
}

.rules {
  margin-top: 1rem;
  list-style: circle;
  padding: 0rem 1rem 0rem 1.5rem;

  li {
    margin-bottom: 1rem;
  }
}


.start-button-animation {
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
  animation: spin 0.8s linear infinite;
  background: white;
}

@keyframes spin {
  0% {
    clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
  }
  12.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
  }
  37.5% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
  }
  62.5% {
    clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);
  }
  87.5% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
}

.num {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 25%;
  border-radius: 10px;
}
