html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#answer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.sub-header {
  font-size: 1.2rem;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  border-bottom: 1px solid var(--shadow);
  font-weight: var(--light);
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}
.actions button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--gunmetal);
}

#anagram {
  margin: 0.5rem auto;
  min-height: 11rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
}

.letter {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: var(--scope);
  margin: 0.25rem 0.35rem;
  border: 1px solid var(--shadow);
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px rgba(0, 39, 43, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
}

.answer-letter {
  font-size: 3rem;
  font-family: var(--mukta);
  font-weight: 700;
  letter-spacing: 0.5rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0.25rem;
  text-transform: uppercase;
}

.letter:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.active {
  background-color: green;
  color: white;
}

#submit-div {
  text-align: center;
  margin-top: 1.5rem;
}
#submit-div button {
  font-size: 2rem;
  width: 60%;
  padding: 0.75rem 0rem 0.5rem 0rem;
  border: 1px solid var(--shadow);
  font-family: var(--scope);
  border-radius: 10px;
  box-shadow: 5px 5px var(--shadow);
  background-color: white;
}

.placeholder {
  border-bottom: 1px solid black;
  width: 2rem;
  height: 2rem;
  margin: 0rem 0.25rem;
}

.hide {
  visibility: hidden;
}

h3 {
  font-size: 1.5rem;
}

.hint {
  height: 3rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  text-align: center;
  color: var(--shadow);
  margin: 0.5rem;
}

.timer {
  width: 5rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
    color: red;
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes scoreAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    color: green;
    font-weight: 700;
    transform: scale(1.5);
  }
  100% {
    color: inherit;
    font-weight: inherit;
    transform: scale(1);
  }
}
.score-animation {
  animation: scoreAnimation 0.8s ease-in-out;
}

#clear:hover {
  transform: rotate(180deg);
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

.correct {
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
  color: green;
}

.red {
  color: red;
}

.start-button {
  text-align: center;
}
.start-button button {
  font-size: 2rem;
  width: 50%;
  padding: 0.75rem 0rem 0.5rem 0rem;
  border: 1px solid var(--shadow);
  font-family: var(--scope);
  border-radius: 10px;
  box-shadow: 5px 5px var(--shadow);
  background-color: white;
}

.start-screen {
  max-width: 400px;
  margin: auto;
  height: 100vh;
  padding: 1rem;
  background-color: var(--antique-white);
}

p {
  margin: 1rem 0px;
  text-align: justify;
}

h4 {
  margin: 0.25rem 0.25rem 0.25rem 0rem;
  font-family: var(--scope);
}

h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0rem;
}

.examples {
  margin: 0.75rem auto;
  max-width: 400px;
  background: white;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: 3px 3px var(--shadow);
  border: 1px solid var(--shadow);
}

.center {
  text-align: center;
}

.example {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.example span {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--scope);
  margin: 0.25rem 0rem;
  border: 1px solid var(--shadow);
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px rgba(0, 39, 43, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.75rem;
  padding: 0.25rem 0rem 0rem 0rem;
}
.example span:hover {
  transform: scale(1.02);
  cursor: default;
}
.example p {
  margin: 0;
}

.ready {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
  font-style: italic;
}

.rules {
  margin-top: 1rem;
  list-style: circle;
  padding: 0rem 1rem 0rem 1.5rem;
}
.rules li {
  margin-bottom: 1rem;
}

.game-over {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-over-header {
  font-family: var(--scope);
  letter-spacing: 5px;
  width: 50%;
  border-bottom: 1px solid var(--gunmetal);
}

.word {
  font-weight: 700;
  margin-top: 0.5rem;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}

.definition {
  font-family: var(--scope);
  font-size: 0.75rem;
  font-style: italic;
  text-align: justify;
  margin-left: 0.75rem;
}

.word-list {
  margin: 0.25rem auto;
  list-style-type: none;
  background: white;
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid var(--shadow);
  box-shadow: 3px 3px var(--shadow);
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 85vw;
  min-width: 250px;
}
.word-list ul li {
  font-size: 1rem;
}

.d-none {
  display: none;
}

.mark {
  color: red;
}

.statistics {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.statistics .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.statistics .stat {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 0.5rem;
  line-height: 2.2rem;
}
.statistics .icon {
  text-align: center;
  width: 1.5rem;
  display: inline-block;
  margin-right: 0.2rem;
}
.statistics #percentile {
  font-size: small;
  font-weight: 100;
}

.disabled {
  opacity: 0.4;
}

.used {
  visibility: hidden;
}

.grading {
  font-family: var(--cursive);
  padding: 1rem;
  text-align: center;
  background-image: url(/resources/images/circle.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 2.5rem;
  right: 0.25rem;
  height: 8.5rem;
  width: 8.5rem;
  display: flex;
  flex-direction: column;
  transform: rotate(8deg);
}
.grading #grade {
  font-size: 4rem;
  margin-top: 0.75rem;
}
.grading p {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}
.grading #grade-message {
  opacity: 0.8;
}

.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#share {
  position: relative;
  letter-spacing: 2px;
  right: 0;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  color: var(--gunmetal);
  background-color: white;
  box-shadow: 3px 3px var(--shadow);
  font-family: "Scope One";
  font-weight: 700;
}
#share:hover {
  cursor: pointer;
}

#popup {
  position: absolute;
  width: fit-content;
  max-width: max-content;
  top: 45%;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 3px var(--shadow);
  border-radius: 10px;
  opacity: 1;
}

.midnight-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-top: 1rem;
}

#time {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#time .digit {
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1.5rem;
  color: var(--gunmetal);
}

hr {
  margin: 0.25rem 0rem;
}

#show-list {
  position: relative;
  letter-spacing: 2px;
  right: 0;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  color: var(--gunmetal);
  background-color: white;
  box-shadow: 3px 3px var(--shadow);
  font-family: "Scope One";
  font-weight: 700;
}
#show-list:hover {
  cursor: pointer;
}

#close-list {
  float: right;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 10px;
  color: var(--gunmetal);
  background-color: var(--antique-white);
  box-shadow: 3px 3px var(--shadow);
  font-family: "Scope One";
  font-weight: 700;
  margin-top: 1rem;
}
#close-list:hover {
  cursor: pointer;
}

:root {
  --gunmetal: rgba(0, 39, 43, 1);
  --shadow: rgba(0, 39, 43, 0.5);
  --antique-white:rgba(238, 249, 255, 1);
  --scope: "Scope One", serif;
  --mukta: "Mukta", sans-serif;
  --cursive: "Shadows Into Light", cursive;
  --light: 200;
  --regular: 400;
  --bold: 700;
}

body {
  height: fit-content;
  width: 100vw;
  background-color: var(--antique-white);
  color: var(--gunmetal);
  font-family: "Mukta", sans-serif;
  position: absolute;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 250px;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0rem 0.5rem 0rem;
  font-family: var(--scope);
  background-color: white;
  border-bottom: 1px solid var(--gunmetal);
  letter-spacing: 5px;
}

.container {
  max-width: 400px;
  margin: auto;
}

header {
  background-color: var(--antique-white);
}
